<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<style>
    button{
        width: 50px;
        height: 50px;
    }
</style>
<body>

    <form action="/user/login" method="post">
        <input type="text" name="username" id="username" placeholder="username" value="6545785965">
        <input type="password" name="password" id="password" placeholder="password" value="1234567890">
        <button type="submit" value="Login" id="submit">Login</button>

    </form>
    
</body>
<script>

    document.getElementById("submit").addEventListener('click', function(){
        console.log("gaya")
        event.preventDefault();
        fetch("/user/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username: document.getElementById("username").value,
                password: document.getElementById("password").value
            })
        })
        .then(response => response.json())
        .then(json => {
            message(json.status, json.message)
            console.log(json)
            if (json.status == 200) {
                console.log("user found")
                window.location.reload();
            }
            else {
                console.log("not found")
                // window.location.href = "/user/login";
            }
        }).catch(err => {
            console.log(err);
        })
        
    });


</script>
</html>